{% extends 'base.html' %} {% load static %} {% block body %}

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    <img
                        class="tm-gallery col-sm-10"
                        src="{%static 'images/img3.png'%}"
                    />
                </p>
            </div>
            <div class="col-sm-8">
                <h1>SEMSON CO. Pvt. Ltd.</h1>
                <hr />
                <div>
                    Our main aim is build a most efficient and modern geyser by
                    using old material like copper, steal. Our main coustomers
                    are retailers and wholsellers. Our prime focus is to take
                    our products in the field and compete with the present
                    companies.
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock body %}
