{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />

        <title>SEMSON</title>
    </head>
    <style>
        .headings {
            background-color: brown;
            color: white;
            font-style: italic;
            text-decoration: underline;
            text-align: center;
        }

        .heading2 {
            color: lightblue;
        }
    </style>
    <body class="container bg-light bg-gradient">
        <nav
            class="navbar navbar-expand-lg navbar-light"
            style="background-color: #e3f2fd"
        >
            <div class="container-fluid">
                <a class="navbar-brand" href="/" style="padding: 0px">
                    <img src="{% static "images/logo.png"%}" style="height:38px;
                    weidth:38px" class="image-fluid"></a
                >

                <a class="navbar-brand" href="/">Home</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                href="products"
                                tabindex="-1"
                                aria-disabled="true"
                                >Our Products</a
                            >
                        </li>
                        {% if 'admin' in request.session.username %}
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                href="addproduct"
                                tabindex="-1"
                                aria-disabled="true"
                                >Add Products</a
                            >
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                href="about"
                                tabindex="-1"
                                aria-disabled="true"
                                >About Us</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                href="contact"
                                tabindex="-1"
                                aria-disabled="true"
                                >Contact Us</a
                            >
                        </li>
                    </ul>
                    <form class="d-flex">
                        {% comment %}
                        <input
                            class="form-control me-2"
                            type="search"
                            placeholder="Search"
                            aria-label="Search"
                        />
                        {% endcomment %}
                
                   
                        {% comment %}
                        <input
                            class="form-control me-2"
                            type="search"
                            placeholder="Search"
                            aria-label="Search"
                        />
                        {% endcomment %}
                        
                        <div class='container'>
                            <div class='row'>
                        <div class='col'>
                        <form class="d-flex">
                                {% if request.session.username %}
                                <p
                                style="
                                position: relative;
                                left: -40px;
                                color: blue;
                                    font-weight: bolder;
                                    "
                            >
                                Welcome.. {{request.session.fullname}}
                            </p>
                        
                        </form>
                    </div>
                                <div class='col'><a href="cart" >
                                <button
                                    class="btn btn-outline-success"
                                    type="button"
                                >
                                    Mycart
                                </button></a
                                    >
                                </div> 
                                <div class='col'>
                            <a href="logout"
                                ><button
                                    class="btn btn-outline-danger"
                                    type="button"
                                    >
                                    Logout
                                </button></a
                            ></div></div>
                            {% else %}
                            <a href="login" >
                                <button
                                    class="btn btn-outline-success"
                                    type="button"
                                >
                                    Login
                                </button></a
                                >
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div></div>
            </div>
        </nav>

        <hr style="color: brown" />
        {%block body %}
        <div class="album text-center">
            <div class="row">
                <div class="column">
                    <img src="{%static "images/img.jpeg"%}" alt="one"
                    style="width:100%">
                </div>
            </div>
        </div>

        {% endblock body %}
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <script type='text/javascript' src="{%static 'JS/cart.js'%}"></script>
        <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    --></body>
</html>
